axis='index' (instead of axis=0) or axis='columns' (instead of axis=1)

loc gets rows (or columns) with particular labels from the index.
iloc gets rows (or columns) at particular positions in the index (so it only takes integers).
ix usually tries to behave like loc but falls back to behaving like iloc if a label is not present in the index.

in pandas version 0.20.0 and above, ix is deprecated and the use of loc and iloc is encouraged instead.

In [3]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])
df.items

df.values

array([[ 1.4 ,   nan],
       [ 7.1 , -4.5 ],
       [  nan,   nan],
       [ 0.75, -1.3 ]])

In [9]:
df.mean(axis='columns', skipna=True)

a    1.400
b    1.300
c      NaN
d   -0.275
dtype: float64

In [10]:
obj = pd.Series(['a', 'a', 'b', 'c'] * 4)
obj.items

<bound method Series.iteritems of 0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object>

In [21]:
import pandas as pd
from pandas_datareader import data, wb

In [25]:
all_data = {}
for ticker in ['AAPL','GOOG']:
    all_data[ticker] = data.DataReader(ticker,'google','2019-03-01','2019-03-15',1,)
    
    price = pd.DataFrame({tic: data['Close'] for tic, data in all_data.items()})
    volume = pd.DataFrame({tic: data['Volume'] for tic, data in all_data.items()})

ImmediateDeprecationError:
Google finance has been immediately deprecated due to large breaks in the API without the
introduction of a stable replacement. Pull Requests to re-enable these data
connectors are welcome.

See https://github.com/pydata/pandas-datareader/issues

In [27]:

price = pd.read_pickle('moran/class1/files/yahoo_price.pkl')
volume = pd.read_pickle('moran/class1/files/yahoo_volume.pkl')

In [30]:
returns = price.pct_change()
print(returns.tail())

                AAPL      GOOG       IBM      MSFT
Date
2016-10-17 -0.000680  0.001837  0.002072 -0.003483
2016-10-18 -0.000681  0.019616 -0.026168  0.007690
2016-10-19 -0.002979  0.007846  0.003583 -0.002255
2016-10-20 -0.000512 -0.005652  0.001719 -0.004867
2016-10-21 -0.003930  0.003011 -0.012474  0.042096

In [31]:
returns['MSFT'].corr(returns['IBM'])
returns['MSFT'].cov(returns['IBM'])

8.870655479703546e-05

In [32]:
returns.MSFT.corr(returns.IBM)

0.49976361144151144

In [6]:
obj = pd.Series(['과학', '수학', '미술', '수학', '수학', '영어', '영어', '과학', '과학'])
pd.value_counts(obj.values, sort=False)

영어    2
수학    3
과학    3
미술    1
dtype: int64

In [8]:
obj
mask = obj.isin(['수학', '과학'])
# mask
obj[mask]

0    과학
1    수학
3    수학
4    수학
7    과학
8    과학
dtype: object

In [44]:
to_match = pd.Series(['c', 'a', 'b', 'b', 'c', 'a'])
unique_vals = pd.Series(['c', 'b', 'a'])
pd.Index(unique_vals).get_indexer(to_match)

array([0, 2, 1, 1, 0, 2])

In [49]:
data = pd.DataFrame({'1학년': ['수학', '영어', '미술', '영어', '미술'],
                     '2학년': ['과학', '영어', '수학', '과학', '영어'],
                     '3학년': ['수학', '역사', '과학', '미술', '미술']})
data.items

<bound method DataFrame.iteritems of   1학년 2학년 3학년
0  수학  과학  수학
1  영어  영어  역사
2  미술  수학  과학
3  영어  과학  미술
4  미술  영어  미술>

In [50]:
result = data.apply(pd.value_counts).fillna(0)
print(result)

    1학년  2학년  3학년
과학  0.0  2.0  1.0
미술  2.0  0.0  2.0
수학  1.0  1.0  1.0
역사  0.0  0.0  1.0
영어  2.0  2.0  0.0

In [67]:
dropnaData = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
dropnaFrame = pd.DataFrame(dropnaData, columns=['year', 'state', 'pop', 'debt'],
                      index=['one', 'two', 'three', 'four',
                             'five'])
cleaned = dropnaFrame.dropna(axis=1)
cleaned.items

<bound method DataFrame.iteritems of        year   state  pop
one    2000    Ohio  1.5
two    2001    Ohio  1.7
three  2002    Ohio  3.6
four   2001  Nevada  2.4
five   2002  Nevada  2.9>

In [21]:
dff = DataFrame(np.random.rand(7,3))
dff.items

<bound method DataFrame.iteritems of           0         1         2
0  0.904471  0.419667  0.695505
1  0.615384  0.081739  0.569958
2  0.285038  0.324470  0.258318
3  0.367274  0.817540  0.852878
4  0.480768  0.869623  0.365045
5  0.766477  0.097972  0.329630
6  0.508140  0.396790  0.777607>

In [22]:
dff.loc[:4,1] = None
dff.items

<bound method DataFrame.iteritems of           0         1         2
0  0.904471       NaN  0.695505
1  0.615384       NaN  0.569958
2  0.285038       NaN  0.258318
3  0.367274       NaN  0.852878
4  0.480768       NaN  0.365045
5  0.766477  0.097972  0.329630
6  0.508140  0.396790  0.777607>

In [24]:
dff.fillna(0,inplace=True)
dff.items

<bound method DataFrame.iteritems of           0         1         2
0  0.904471  0.000000  0.695505
1  0.615384  0.000000  0.569958
2  0.285038  0.000000  0.258318
3  0.367274  0.000000  0.852878
4  0.480768  0.000000  0.365045
5  0.766477  0.097972  0.329630
6  0.508140  0.396790  0.777607>