In [71]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import matplotlib.pyplot as plt

from pandas import Series, DataFrame

Series

1차원 배열같은 자료구조로 어떠한 NumPy 자료형이라도 담을 수 있다.

Series 는 고정된 길이의 정렬 된 사전형이다.

In [9]:
obj = pd.Series([4, 7, -5, 3, 9])
obj

0    4
1    7
2   -5
3    3
4    9
dtype: int64

In [10]:
obj.values

array([ 4,  7, -5,  3,  9])

In [11]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [13]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [14]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [22]:
obj2['a']

a   -5
dtype: int64

In [18]:
obj2['d'] = 6

In [24]:
obj2[['c', 'a', 'd']]

c    3
a   -5
d    6
dtype: int64

여러개의 색인을 쓰려면 이중 괄호 사용 
obj2[['c', 'a', 'd']]

In [25]:
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [26]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [27]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [28]:
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [29]:
'b' in obj2

True

In [30]:
'e' in obj2

False

In [31]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

sdata -> 파이썬 사전형 데이터

In [32]:
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

인덱스 별도 설정

In [33]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [34]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [35]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [36]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

Series 산술연산 p 162

In [37]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [42]:

obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan','John']
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
John     9
dtype: int64

DataFrame

스프레드시트 형식의 자료구조.

- 각 칼럼마다 다른 종류의 값을 담을 수 있음.

- Series 객체를 담고 있는 파이썬 사전과 같음

- 2차원의 배열

- 계층적 색인을 통해 고차원의 형식도 표현 가능

data : 리스트에 담긴 사전

In [26]:

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = DataFrame(data)
frame.items

<bound method DataFrame.iteritems of     state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9>

In [28]:
DataFrame(data, columns=['year', 'state', 'pop']).items

<bound method DataFrame.iteritems of    year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9>

In [31]:

frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                      index=['one', 'two', 'three', 'four',
                             'five'])
frame2.items

<bound method DataFrame.iteritems of        year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN>

In [32]:
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

In [33]:

frame2['state']

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
Name: state, dtype: object

In [34]:
frame2.year

one      2000
two      2001
three    2002
four     2001
five     2002
Name: year, dtype: int64

In [37]:
frame2.loc['three']

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

In [39]:
frame2['debt'] = 16.5
frame2.items

<bound method DataFrame.iteritems of        year   state  pop  debt
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5>

In [41]:
frame2['debt'] = np.arange(5.)
# frame2['debt'] = np.arange(6.)
frame2.items

<bound method DataFrame.iteritems of        year   state  pop  debt
one    2000    Ohio  1.5   0.0
two    2001    Ohio  1.7   1.0
three  2002    Ohio  3.6   2.0
four   2001  Nevada  2.4   3.0
five   2002  Nevada  2.9   4.0>

In [76]:
val = Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
# 없는 값은 NaN으로 덮어씌워짐
frame2['debt'] = val
frame2.items

<bound method DataFrame.iteritems of        year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7>

In [78]:

frame2['eastern'] = frame2.state == 'Ohio'
frame2.items
frame2.values

array([[2000, 'Ohio', 1.5, nan, True],
       [2001, 'Ohio', 1.7, -1.2, True],
       [2002, 'Ohio', 3.6, nan, True],
       [2001, 'Nevada', 2.4, -1.5, False],
       [2002, 'Nevada', 2.9, -1.7, False]], dtype=object)

In [75]:

del frame2['eastern']
frame2.items

KeyError: 'eastern'

In [74]:

pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = DataFrame(pop)
frame3.items
frame3.values

array([[nan, 1.5],
       [2.4, 1.7],
       [2.9, 3.6]])

In [61]:
print(frame3.T)

        2000  2001  2002
Nevada   NaN   2.4   2.9
Ohio     1.5   1.7   3.6

In [62]:
print(DataFrame(pop, index=[2001, 2002, 2003]))

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2003     NaN   NaN

p168 Series 특징과 비슷함

5.1.3 색인객체

Index Objects(색인객체)는 각 로우와 칼럼의 이름, 축 이름 등의 메타데이터를 저장하는 객체

색인객체는 변경할 수 없음. 그래서 자료구조 사이에서 안전하게 공유될 수 있다. 배열과 마찬가지로 고정 크기로 동작한다.

In [58]:
obj = pd.Series(range(3), index=['a', 'b', 'c'])
index = obj.index
index

Index(['a', 'b', 'c'], dtype='object')

In [59]:
index[1:]

Index(['b', 'c'], dtype='object')

.loc() : Label based

.iloc() : Integer based

.ix() : Both Label and Integer based

In [64]:
labels = pd.Index(np.arange(3))
labels
obj2 = pd.Series([1.5, -2.5, 0], index=labels)
obj2
obj2.index is labels

True

In [67]:
frame3.items

<bound method DataFrame.iteritems of       Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6>

In [68]:
'Ohio' in frame3.columns
2003 in frame3.index

False

핵심기능

재색인 p.172